@model ProjetoDashboards.Application.Models.MovimentacoesRelatorioModel

@{
    ViewData["Title"] = "Relatorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Relatório de Movimentações financeiras</h5>
<p>Informe o período de datas e o formato desejado:</p>

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-3">

        @Html.TextBoxFor(model => model.DataInicio,
            new { @class = "form-control", @type = "date" })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.DataInicio)
        </span>

    </div>
    <div class="col-md-3">

        @Html.TextBoxFor(model => model.DataTermino,
            new { @class = "form-control", @type = "date" })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.DataTermino)
        </span>

    </div>
    <div class="col-md-2">

        @Html.RadioButtonFor(model => model.TipoRelatorio, "PDF") <span>Formato PDF</span> <br />
        @Html.RadioButtonFor(model => model.TipoRelatorio, "EXCEL") <span>Formato Excel</span> <br />

        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.TipoRelatorio)
        </span>

    </div>
    <div class="col-md-4">
        <input type="submit" value="Gerar Relatório"
               class="btn btn-success" />
    </div>
</div>

}
